$primary: rgb(78, 162, 63);
$sidebar-color: $primary;
$link-color: $primary;
$feedback-color: rgb(1, 95, 4);

.nav-list-link {
    color: white;
}

a.site-title {
    color: white;
}

strong {
    color: $primary;
}

svg.icon {
    color: white;
}

.aux-nav-list-item a {
    color: white;
}